@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200&family=Nerko+One&display=swap');

body {
  font-family: "Open Sans", sans-serif;
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

p {
  text-align: center;
}

.title {
  font-size: 20px;
  font-weight: bold;
}

.link {
  min-height: 30px;
  background-color: whitesmoke;
  text-align: center;
  margin-top: 10px;
  left: 0;
  bottom: 0;
}

* {
  box-sizing: border-box;
}

.form {
  background-color: rgb(134, 5, 255);
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  align-content: center;
  text-align: center;
  justify-content: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
}

input {
  width: 150px;
  height: 30px;
  float: right;
  padding-bottom: 15px;
  outline: none;
  color: black;
}

button {
  width: 200px;
  outline: 0;
  background-color: whitesmoke;
  border: 1px solid black;
  height: 30px;
  margin-top: 20px;
}

.menu {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

ol {
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}
